* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

html {
  background-color: #222;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* your CSS below! */

td {
  height: 50px;
  width: 50px;
  background-color: lightgray;
}

.Red {
  background-color: red;
}
.Orange {
  background-color: orange;
}
.Yellow {
  background-color: yellow;
}
.Green {
  background-color: green;
}
.Blue {
  background-color: blue;
}
.Indigo {
  background-color: indigo;
}
.Violet {
  background-color: violet;
}
